<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <div class="content">
            <h3 class="title"><%= blog.title %></h3>
            <h4 class='resume'><%= blog.resume %></h4>
            <div class="content">
                <p><%= blog.body %></p>
            </div>
        </div>
        <a href="/blog/update/<%= blog.id %> " class="button">Editar</a>
        <a class="del-btn" data-id= <%= blog.id %> >Eliminar</a>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script>
        //fetch
        const delBtn = document.querySelector('.del-btn')
        delBtn.addEventListener('click', () => {
            const ruta = `/blog/${delBtn.dataset.id}`;
            fetch(ruta, {
                method: 'DELETE'
            })
            .then((res) => res.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
        
    </script>
    
</body>
</html>