<!DOCTYPE html>
<html lang="es">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="content blogs">
        <h2>Lista de blogs</h2>
        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="resume"><%= blog.resume %></p>
            <% }) %>
        <% }else{ %>
            <h3>No hay blogs colegui :/</h3>
        <% } %>
    </div>
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>